/**
* 由导出工具生成
* https://github.com/eos3tion/ExportUIFromFlash
* 生成时间：@createTime@
* @private
*/
@export@ class @panelName@ extends egret.Sprite {

	public _key:string;
    @properties@

    constructor() {
        super();
        this.init();
        this.bindComponents();
    }

    protected init() {
        this._key = "@lib@";
    }

    protected bindComponents() {
        var manager = singleton(sui.SuiResManager);
        var dis:any;
        @bindComponents@
    }
}