/**
* 由导出工具生成
* https://github.com/eos3tion/ExportUIFromFlash
* 生成时间：@createTime@
*/
class @panelName@ extends egret.Sprite {

	public _key:string;
    @properties@

    constructor() {
        super();
        this.init();
    }

    protected init() {
        this._key = "@lib@";
    }

    protected bindComponents() {
        var manager = sui.SuiResManager.getInstance();
        var dis:any;
        @bindComponents@
    }
}